# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.cache/
.pytest_cache/

# VSCode / PyCharm
.vscode/
.idea/
*.iml

# macOS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# dotenv
.env
