# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# dotenv
.env
